{% extends 'header&footer.html' %}
{% load static %}
{% block content %}
         <!-- //Navigation -->
         <!--//headder-->
         <!-- banner -->
         <div class="inner_page-banner one-img">
         </div>
         <!--//banner -->
         <!-- short -->
         <div class="using-border py-3">
            <div class="inner_breadcrumb  ml-4">
               <ul class="short_ls">
                  <li>
                     <a href="/">Home</a>
                     <span>/ /</span>
                  </li>
                  <li>Blog One</li>
               </ul>
            </div>
         </div>
         <!-- //short-->
      </div>
      <!--blog -->
      <section class="contact py-lg-4 py-md-3 py-sm-3 py-3">
         <div class="container-fluid py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
               <h3>Blog One</h3>
            </div>
            <div class="row">
               <div class="col-lg-8">
                  <div class="row blog-text mt-0 info-grids-blog">
                     <div class="col-lg-6 col-md-6 blog-grid-w3layouts-img">
                        <div class="blog-three-img">
                           <!-- Just a image -->
                        </div>
                        <div class="blog-agile-text text-center p-lg-4 p-3">
                           <h4>eiusmod tempor</h4>
                           <h5 class="pt-3">consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum </h5>
                           <div class="news-date-list text-center mt-2">
                              <ul>
                                 <li><a href="singlepage.html" class="text-muted">12/June/2019</a></li>
                                 <li><a href="singlepage.html" class="text-muted">3 Tags</a></li>
                              </ul>
                           </div>
                           <div class="blog-bloged">
                              <div class="outs_more-buttn">
                                 <a href="singlepage.html">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 blog-grid-w3layouts-img">
                        <div class="blog-three-img">
                           <!-- Just a image -->
                        </div>
                        <div class="blog-agile-text text-center p-lg-4 p-3">
                           <h4>eiusmod tempor</h4>
                           <h5 class="pt-3">consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum </h5>
                           <div class="news-date-list text-center mt-2">
                              <ul>
                                 <li><a href="singlepage.html" class="text-muted">12/June/2019</a></li>
                                 <li><a href="singlepage.html" class="text-muted">3 Tags</a></li>
                              </ul>
                           </div>
                           <div class="blog-bloged">
                              <div class="outs_more-buttn">
                                 <a href="singlepage.html">Read More</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Blog-four -->
                  <div class="blog-text">
                     <div class="blog-two-img">
                     </div>
                     <div class="blog-agile-text-middle">
                        <h4>eiusmod tempor</h4>
                        <h5 class="pt-3">consectetur adipiscing elit, sed do eiusmod tempor incididunt Lorem ipsum dolor sit amet tempor incididunt Lorem ipsum sit amet tempor incididunt Lorem ipsum</h5>
                        <div class="news-date-list text-sm-right">
                           <ul>
                              <li ><a href="singlepage.html" class="text-muted">12/June/2019</a></li>
                              <li><a href="singlepage.html" class="text-muted" >3 Tags</a></li>
                           </ul>
                        </div>
                        <div class="row blog-img-center">
                           <div class="col-lg-6 col-md-6 col-sm-6 outs_more-buttn">
                              <a href="singlepage.html">Read More</a>
                           </div>
                           <div class="col-lg-6 col-md-6 col-sm-6 icons text-sm-right mt-3">
                              <ul>
                                 <li><a href="singlepage.html"><span class="fab fa-facebook-f"></span></a></li>
                                 <li><a href="singlepage.html"><span class="fas fa-envelope"></span></a></li>
                                 <li><a href="singlepage.html"><span class="fab fa-twitter"></span></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- //Blog-four-->
                  <!-- pagination-blog-->
                  <div class="pagination-blog">
                     <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                           <li class="page-item active">
                              <a class="page-link " href="#" tabindex="-1">Previous</a>
                           </li>
                           <li class="page-item"><a class="page-link" href="#">1</a></li>
                           <li class="page-item"><a class="page-link" href="#">2</a></li>
                           <li class="page-item"><a class="page-link" href="#">3</a></li>
                           <li class="page-item">
                              <a class="page-link" href="#">Next</a>
                           </li>
                        </ul>
                     </nav>
                  </div>
                  <!-- //pagination-blog-->
               </div>
               <!--//Blog-inner-->
               <div class="col-lg-4">
                  <!--News Letter-->
                  <div class="address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>News Letter</h3>
                     </div>
                     <div class="news-about-us">
                        <form action="#" method="post">
                           <div class=" subscribe-form ">
                              <div class="form-group contact-forms">
                                 <input type="email" class="form-control" placeholder="Enter" required="">
                              </div>
                              <div class="click-subscribe">
                                 <button type="submit" class="btn btn-block click-me">Subscribe</button>
                              </div>
                           </div>
                        </form>
                     </div>
                  </div>
                  <!--//News Letter-->
                  <!--Categories-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>Categories</h3>
                     </div>
                     <div class="agile-categories-list text-center">
                        <ul>
                           <li class="pb-2">
                              <a href="singlepage.html">Deodar Wood</a>
                           </li>
                           <li class="py-2">
                              <a href="singlepage.html">Oak Wood</a>
                           </li>
                           <li class="py-2">
                              <a href="singlepage.html">Mahogany Wood</a>
                           </li>
                           <li class="py-2">
                              <a href="singlepage.html">Sal Wood</a>
                           </li>
                           <li class="py-2">
                              <a href="singlepage.html">Elegant Style</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!--//Categories-->
                  <!--Tags-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>Tags</h3>
                     </div>
                     <div class="tages-w3layouts-list text-center">
                        <ul >
                           <li>
                              <a href="/about/">About</a>
                           </li>
                           <li>
                              <a href="/">Home</a>
                           </li>
                           <li>
                              <a href="/service/">Service</a>
                           </li>
                           <li>
                              <a href="/blog/">Blog</a>
                           </li>
                           <li>
                              <a href="/blog_one/">Blog2</a>
                           </li>
                           <li>
                              <a href="/contact/">Contact</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <!--//Tags-->
                  <!--Side-blog-->
                  <div class="mt-lg-4 mt-3 address_mail_footer_grids">
                     <div class="title text-center mb-lg-4 mb-md-3 mb-3">
                        <h3>Blog</h3>
                     </div>
                     <div class="dance-agile-info">
                        <div class="footer-grid row mb-2">
                           <div class="col-lg-4 col-md-6 col-sm-6 col-5">
                              <img src="{% static 'images/bb1.jpg' %}" alt=" " class="img-fluid">
                           </div>
                           <div class="col-lg-8 col-md-6 col-sm-6 col-7 bottom-para px-0">
                              <h6><a href="singlepage.html" >ultricies nec,pellen eu,pretium quis,</a></h6>
                              <div class="news-date-list pt-2">
                                 <ul>
                                    <li><a href="singlepage.html" class="clr-two">12/June/2019</a></li>
                                    <li><a href="singlepage.html" class="clr-two">3 Tags</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="footer-grid row  mb-2">
                           <div class="col-lg-4 col-md-6 col-sm-6 col-5">
                              <img src="{% static 'images/bb2.jpg' %}" alt=" " class="img-fluid">
                           </div>
                           <div class="col-lg-8 col-md-6 col-sm-6 col-7 bottom-para px-0">
                              <h6><a href="singlepage.html">ultricies nec,pellen eu,pretium quis,</a></h6>
                              <div class="news-date-list pt-2">
                                 <ul>
                                    <li><a href="singlepage.html" class="clr-two">12/June/2019</a></li>
                                    <li><a href="singlepage.html" class="clr-two">3 Tags</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="footer-grid row  mb-2">
                           <div class="col-lg-4 col-md-6 col-sm-6 col-5">
                              <img src="{% static 'images/bb3.jpg' %}" alt=" " class="img-fluid">
                           </div>
                           <div class="col-lg-8 col-md-6 col-sm-6 col-7 bottom-para px-0">
                              <h6><a href="singlepage.html">ultricies nec,pellen eu,pretium quis,</a></h6>
                              <div class="news-date-list pt-2">
                                 <ul>
                                    <li><a href="singlepage.html" class="clr-two" >12/June/2019</a></li>
                                    <li><a href="singlepage.html" class="clr-two">3 Tags</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                        <div class="footer-grid row">
                           <div class="col-lg-4 col-md-6 col-sm-6 col-5">
                              <img src="{% static 'images/bb1.jpg' %}" alt=" " class="img-fluid">
                           </div>
                           <div class="col-lg-8 col-md-6 col-sm-6 col-7 bottom-para px-0">
                              <h6><a href="singlepage.html">ultricies nec,pellen eu,pretium quis,</a></h6>
                              <div class="news-date-list pt-2">
                                 <ul>
                                    <li><a href="singlepage.html" class="clr-two">12/June/2019</a></li>
                                    <li><a href="singlepage.html" class="clr-two">3 Tags</a></li>
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--//Side-blog-->
               </div>
            </div>
         </div>
      </section>
{% endblock %}