{% extends 'header&footer.html' %}
{% load static %}
{% block content %}
         <!-- banner -->
         <div class="inner_page-banner one-img">
         </div>
         <!--//banner -->
         <!-- short -->
         <div class="using-border py-3">
            <div class="inner_breadcrumb  ml-4">
               <ul class="short_ls">
                  <li>
                     <a href="/">Home</a>
                     <span>/ /</span>
                  </li>
                  <li>service</li>
               </ul>
            </div>
         </div>
      </div>
      <!-- //short-->
      <!--Services -->
      <section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
         <div class="container-fluid py-lg-5 py-md-5 py-sm-4 py-4">
            <div class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">
               <h3>Service</h3>
            </div>
            <div class="row agile-abt-info ">
               <div class="col-lg-6 ser-left-gird text-center">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-sm-6 ser-list-w3layouts">
                        <h4>PLANNING</h4>
                        <div class="service-icon-list">
                           <span class="far fa-calendar-alt"></span>
                           <p >delectus reiciendis maiores alias consequatur delectus reiciendis maiores alias consequatur aut.maiores aliasaut.maiores alias</p>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 ser-list-w3layouts service-mid">
                        <h4>INTERIOR</h4>
                        <div class="service-icon-list">
                           <span class="fab fa-asymmetrik"></span>
                           <p >delectus reiciendis maiores alias consequatur delectus reiciendis maiores alias consequatur aut.maiores aliasaut.maiores alias</p>
                        </div>
                     </div>
                  </div>
                  <div class="row mt-lg-5 mt-md-4 mt-3">
                     <div class="col-lg-6 col-md-6 col-sm-6 ser-list-w3layouts">
                        <h4>EXTERIOR</h4>
                        <div class="service-icon-list">
                           <span class="fab fa-accusoft"></span>
                           <p >delectus reiciendis maiores alias consequatur delectus reiciendis maiores alias consequatur aut.maiores aliasaut.maiores alias</p>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-sm-6 ser-list-w3layouts service-mid">
                        <h4>FURNITURE</h4>
                        <div class="service-icon-list">
                           <span class="fas fa-chess-queen"></span>
                           <p >delectus reiciendis maiores alias consequatur delectus reiciendis maiores alias consequatur aut.maiores aliasaut.maiores alias </p>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-6 ser-right-gird">
                  <div class="row p-lg-4 p-md-3 p-3 agile-ser-coloms">
                     <div class="col-lg-4 col-md-4 col-sm-4 service-icon-left text-center">
                        <span class="fas fa-align-right"></span>
                     </div>
                     <div class="col-lg-8 col-md-8 col-sm-8 text-left px-0 ser-list-w3layouts">
                        <h4>DECORATION</h4>
                        <div class="pt-3 service-icon-list">
                           <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.maiores</p>
                        </div>
                     </div>
                  </div>
                  <div class="row p-lg-4 p-md-3 p-3 my-lg-4 my-md-3 my-3 agile-ser-coloms">
                     <div class="col-lg-4 col-md-4 col-sm-4 service-icon-left text-center">
                        <span class="fas fa-users"></span>
                     </div>
                     <div class="col-lg-8 col-md-8 col-sm-8 text-left px-0 ser-list-w3layouts">
                        <h4>Well Service</h4>
                        <div class="pt-3 service-icon-list">
                           <p>delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.maiores</p>
                        </div>
                     </div>
                  </div>
                  <div class="row p-lg-4 p-md-3 p-3 agile-ser-coloms">
                     <div class="col-lg-4 col-md-4 col-sm-4 service-icon-left text-center">
                        <span class="fab fa-audible"></span>
                     </div>
                     <div class="col-lg-8 col-md-8 col-sm-8 text-left px-0 ser-list-w3layouts">
                        <h4>EXCLUSIVELY</h4>
                        <div  class="pt-3 service-icon-list">
                           <p >delectus reiciendis maiores alias consequatur aut.maiores alias consequatur aut.maiores</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//service -->
{% endblock %}